@charset "utf-8";

/* Lists, background, and text */
html {
   background-color: #f6efea;
}

header {
   overflow: hidden;
   padding: 10px 20px;
}

header img {
   text-align: center;
}

header nav {
   width: 40%;
   float: right;
}

header nav ul {
   margin: 0;
   padding: 0;
}

header nav ul li {
   display: inline-block;
   margin-left: 10px;
}


body {
   font-family: "sans-serif";
   
}

/* Pseudo classes/elements */

footer {
   background-color: #000080;
   color: white;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}
footer img {
   max-width: 100%;
   height: auto;
   
}

document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);

