@charset "utf-8";

/* Lists, background, and text */
html {
   background-color: #f6efea;
}

body {
   font-family: "sans-serif";
   
}

/* Pseudo classes/elements */

footer {
   background-color: #000080;
   color: white;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

