<header>
    <!-- Header section -->
    <img src="images/banner.png" alt="Logo Brave Owl">
    <h1>Brave OWL</h1>
    <caption>Taking Your Social Media Strategy to New Heights</caption>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="introduction.html">Introduction</a></li>
            <li><a href="contract.html">Contract</a></li>
            <li><a href="brand.html">Brand Guide</a></li>
            <li><a href="fizzbuzz0.html">FizzBuzz0</a></li>

        </ul>
    </nav>    
</header>