<header>
    <!-- Header section -->
    <img src="images/banner.png" alt="Logo Brave Owl">
    <h1>Brenda Oliveira's Brave OWL</h1>
    <div>Taking Your Social Media Strategy to New Heights</div>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="introduction.html">Introduction</a></li>
            <li><a href="contract.html">Contract</a></li>
            <li><a href="brand.html">Brand Guide</a></li>
            <li><a href="fizzbuzz0.html">FizzBuzz 0</a></li>
            <li><a href="fizzbuzz1.html">FizzBuzz 1</a></li>

        </ul>
    </nav>    
</header>