 <!-- Head -->
 <meta charset="utf-8">
 <title></title>
 <link href="styles/styles.css" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
 <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
 <link rel="shortcut icon" type="x-icon" href="images/logo.png?">
 <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
 <script src="scripts/page-titles.js"></script>
 <script src="scripts/page-components.js" defer></script>
 <script src="https://lint.page/kit/67ff88.js" crossorigin="anonymous"></script>