@charset "utf-8";

/* General Styles */
html {
   background-color: #f6efea;
}

body {
   font-family: "EB Garamond", sans-serif;
   max-width: 960px;
   min-width: 640px;
   padding: 20px;
   color: #0f216c;
   margin: 0 auto;
   font-size: 1.1em;
}

/* Header */
header {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   text-align: center;
   color: #0f216c;

}

header img {
   width: 110%;
   height: auto;
   display: block;
}

h1 {
   position: absolute; 
   left: 45%;
   transform: translateX(-50%); 
   top: 25%; 
   font-size: 2.10em; 
   font-family: 'Caveat', cursive;
   z-index: 1; 
   margin: 0; 
}

header div {
   position: absolute; 
   left: 40%;
   transform: translateX(-50%); 
   top: 40%; 
   font-family: "EB Garamond", sans-serif;
   font-size: 1.20em; 
   padding: 10px;
   z-index: 1; 
   margin: 0;
   font-style: italic;
}

header nav {
   background-color: white;
   font-weight: bold;
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 20px 0;
}

header nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: flex;
}

header nav ul li {
   margin: 0 15px;
   
}

header nav ul li:first-child {
   margin-left: 0;
}

/* Dropdown */
.dropdown {
   position: relative;
   display: inline-block;
}

.dropbtn {
   border: none;
   cursor: pointer;
}

.dropdown-content {
   display: none; 
   position: absolute;
   background-color: white;
   min-width: 160px;
   z-index: 1;
}

.dropdown-content a {
   color: #0f216c;
   text-decoration: none;
   display: block;
}

.dropdown-content a:hover {
   background-color: #f6efea; 
}

.dropdown:hover .dropdown-content {
   display: block; 
}

.dropdown:hover .dropbtn {
   background-color: #f6efea;
}

/* Headings */
h2 {
   font-size: 1.8em;
   font-family: 'Caveat', cursive;
	text-align: center;
   margin-top: 0;
}

h3 {
   margin-bottom: 0;
   padding: 0;
}

#greeting {
   text-align: center;
}

/* Link Styles */
a:link {
	color: #00437a;
	text-decoration: none; 
 }

 a:visited {
   text-decoration: none; 
 }

/* Img */
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
 }
 
 figcaption {
	font-style: italic;
	padding: 2px;
	text-align: center;
 }

 /* Form */
 form {
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
   margin: 0 auto;
   
 }

#fizzbuzz, #fizzbuzz1, #fizzbuzz2, #fizzbuzz3 {
   max-width: 35%;
}
 
 form div {
   display: flex;
   justify-content: center;
   gap: 10px;
 }

 label {
   display: block;
   margin: 5px auto;
   width: 80%;
 }


 #middle-initial {
   width: 10%;
 }

 #fizz-output {
   margin: 10px auto;
   max-width: 40%;
   text-align: left;
 }

 fieldset {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
   max-width: 600px;
   min-width: 400px;
   margin: 20px auto;
}

.nw {
   display: flex;
   max-width: 550px;

}

fieldset label {
   display: flex;
   flex: 1 2 20%;
   width: 400px;
   margin: 10px auto;
   text-align: center;
   
}
 fieldset input {
   display: flex;
   justify-content: space-around;
   max-width: 80px;
   padding: 0 auto;
   margin: 5px;
   text-align: center;
   
}

legend {
   text-align: left;
}

.numbers, .words {
   display: block;
   max-width: 200px;
   margin: 10px auto;
   padding: 10px auto;
   height: auto;
   position: relative;
}
/* Footer */
footer {
   text-align: center;
   margin: 20px auto 0 auto;
   width: 100%;
   padding: 10px 0;
}

footer img {
   max-width: 100%;
   height: auto;
}

footer nav ul li {
	display: inline-block;
	margin-left: 15px;
   font-weight: bold;
 
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
   header {
      padding: 10px;
   }

   header nav {
      flex-direction: column;
   }

   header nav ul {
      display: block; 
      text-align: center; 
   }
   
   header div {
      position: relative;
      top: auto;
      transform: none; 
      margin-top: 20px;
   }
}

@media only screen and (min-width: 769px) {
   header nav ul {
      display: flex;
      justify-content: space-around;
   }

   header nav {
      flex-direction: row;
   }
}

@media only screen and (min-width: 1025px) {
   body {
      margin: 0 auto;
   }

   header, main, footer {
      margin: 0 auto;
      width: 100%;
   }

   main {
      margin: 10px 0;
   }
}