@charset "utf-8";

/* General Styles */
html {
   background-color: #f6efea;
}

body {
   font-family: "EB Garamond", serif;
   max-width: 960px;
   min-width: 640px;
   padding: 20px;
   color: #0f216c;
   margin: 0 auto;
}

/* Header */
header {
   color: #0f216c;
   width: 100%;
}

header nav {
   background-color: #1836a7;
   padding: 10px;
}

header nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

header nav ul li {
   display: inline-block;
   margin-left: 15px;
}

header nav ul li:first-child {
   margin-left: 0;
}

/* Headings */
h1 {
	font-family: 'Caveat', cursive;
	text-align: center;
}
/* Link Styles */
a:link {
	color: #da4d79;
	background-color: transparent;
	text-decoration: none; 
 }
 
 a:visited {
	color: #ff278f;
 }

/* Img */
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
 }
 
 figcaption {
	font-style: italic;
	padding: 2px;
	text-align: center;
 }

/* Footer */
footer {
   background-color: white;
   color: #000080;
   text-align: center;
   margin: 20px auto 0 auto;
   width: 100%;
}

footer img {
   max-width: 100%;
   height: auto;
}

footer nav ul li {
	display: inline-block;
	margin-left: auto;
 
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
   header {
      padding: 10px;
   }

   header nav ul {
      display: block;
   }

   main {
      padding: 10px;
   }
}

@media only screen and (min-width: 769px) {
   header nav ul {
      display: block;
   }
}

@media only screen and (min-width: 1025px) {
   body {
      margin: 0 auto;
   }

   header, main, footer {
      margin: 0 auto;
      width: 100%;
   }

   main {
      margin: 10px 0;
   }
}