@charset "utf-8";

/* General Styles */
html {
   background-color: #f6efea;
}

body {
   font-family: "EB Garamond", sans-serif;
   max-width: 960px;
   min-width: 640px;
   padding: 20px;
   color: #0f216c;
   margin: 0 auto;
   font-size: 1.1em;
}

/* Header */
header {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   text-align: center;
   color: #0f216c;

}

header img {
   width: 100%;
   height: auto;
   display: block;
}

h1 {
   position: absolute; 
   left: 50%;
   transform: translateX(-50%); 
   top: 25%; 
   font-size: 2.10em; 
   font-family: 'Caveat', cursive;
   z-index: 1; 
   margin: 0; 
}

header p {
   position: absolute; 
   left: 40%;
   transform: translateX(-50%); 
   top: 40%; 
   font-family: "EB Garamond", sans-serif;
   font-size: 1.20em; 
   padding: 10px;
   z-index: 1; 
   margin: 0;
   font-style: italic;
}

header nav {
   background-color: white;
   font-weight: bold;
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 20px 0;
}

header nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: flex;
}

header nav ul li {
   margin: 0 15px;
   
}

header nav ul li:first-child {
   margin-left: 0;
}

/* Headings */



h2 {
   font-size: 1.8em;
   font-family: 'Caveat', cursive;
	text-align: center;
}

/* Link Styles */
a:link {
	color: #00437a;
	text-decoration: none; 
 }
 
 a:visited {
	color: #a20074;
 }

/* Img */
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
 }
 
 figcaption {
	font-style: italic;
	padding: 2px;
	text-align: center;
 }

 /* Form */
 form {
   display: flex;
   width: 50%;
   text-align: center;
 }

 label {
   display: block;
   margin: 0.5rem 0;
 }

/* Footer */
footer {
   text-align: center;
   margin: 20px auto 0 auto;
   width: 100%;
   padding: 10px 0;
}

footer img {
   max-width: 100%;
   height: auto;
}

footer nav ul li {
	display: inline-block;
	margin-left: 15px;
   font-weight: bold;
 
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
   header {
      padding: 10px;
  }

  header nav {
      flex-direction: column;
  }

  header nav ul {
      display: block; 
      text-align: center; 
  }
  header p {
   margin-top: 20px;
  }
}

@media only screen and (min-width: 769px) {
   header nav ul {
      display: flex;
   }
   header nav {
      flex-direction: row;
   }
}

@media only screen and (min-width: 1025px) {
   body {
      margin: 0 auto;
   }

   header, main, footer {
      margin: 0 auto;
      width: 100%;
   }

   main {
      margin: 10px 0;
   }
}